body, h1, h2, h3, h4, h5, p, a, ul, ol {
	margin: 0;
	padding: 0;
	font-family: "Helvetica";
}

body {
	background-image: url(../img/body.png);
	background-repeat: no-repeat;
	background-size: contain;
}

img {
	max-width: 100%;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

@media screen and (max-width: 1023px) {
	body {
		background-position: -50px 0px;
	}
}

@media screen and (max-width: 767px) {
	body {
		background-position: -250px 0px;
	}
}