.card {
	padding: 20px 10px 10px;
	display: flex;
	flex-direction: column;
	height: 200px;
	box-shadow: 0px 30px 100px rgba(47, 55, 237, 0.1);
	border-radius: 10px;
}

.card.-transparent {
	background-color: transparent;
	box-shadow: none;
}

.card__title {
	color: var(--blue);
	margin-bottom: 15px;
	font-size: 24px;
	font-weight: bold;
	line-height: 34px;
}

.card__title.-up {
	text-transform: uppercase;
}

.card__info {
	color: var(--gray);
	font-size: 14px;
}

.card.-twoinrow {
	width: calc(50% - 20px);
}

.card.-threeinrow {
	width: calc(33% - 20px);
}

.card.-circle {
	width: 50%;
	padding: 40px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.card__title.-up.-w {
	width: 75%;
}

.card.-circle:after {
	right: 0px;
	top: 0px;
	display: block;
	content: "";
	position: absolute;
	height: 125px;
	width: 125px;
	border-radius: 50%;
	background: radial-gradient(68.31% 68.31% at 50% 50%, #6AAAFF 0%, #2F80ED 100%), #FFFFFF;
	box-shadow: 0px 10px 50px rgba(119, 157, 255, 0.3);
}

@media screen and (max-width: 1023px) {
	.card.-circle {
		position: static;
	}
}

@media screen and (max-width: 767px) {
	.card.-twoinrow {
		width: calc(100% - 20px);
		margin-bottom: 10px;
	}

	.card.-transparent.-threeinrow {
		width: calc(100% - 40px);
		height: calc(33% - 20px);
	}

	.card.-circle {
		display: none;
	}
}