.container {
	width: 1200px;
	margin: 0 auto;
}

@media screen and (max-width: 1240px) {
	.container {
			width: 1000px;
		}
}

@media screen and (max-width: 1023px) {
	.container {
			width: 950px;
		}
}

@media screen and (max-width: 970px) {
	.container {
		width: calc(100% - 40px);
	}
}