.explanation {
	margin-bottom: 45px;
}

.person {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.explanation__cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}