.forms {
	background-color: var(--lightgray);
	margin-bottom: 45px;
}

.forms__content {
	padding: 60px 0px;
	display: flex;
	justify-content: center;
}

.form {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.input {
	border: 1px solid rgba(47, 128, 237, 0.3);
	background-color: var(--white);
	padding: 15px 10px;
	margin-right: 10px;
	height: 50%;
}

.input[type='email'] {
	margin-right: 0px;
}

@media screen and (max-width: 1023px) {
	.forms__content {
		justify-content: center;
	}

	.form {
		align-items: center;
	}

	.input {
		width: calc(50% - 20px);
		height: calc(40% - 20px);
		margin-right: 20px;
		margin-bottom: 20px;
	}

	.input[type='email'] {
		margin-bottom: 0px;
	}
}

@media screen and (max-width: 767px) {
	.forms {
		padding-bottom: 40px;
	}

	.form {
		width: 100%;
		justify-content: center;
	}

	.input {
		margin-right: 0px;
		width: calc(100% - 20px);
	}

	.input[type='email'] {
		margin-bottom: 20px;
	}
}