.hero {
	height: 100vh;
	margin-bottom: 100px;
}

.hero__content {
	position: relative;
	margin-top: 25px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	color: var(--white);
}

.hero__info {
	display: flex;
	width: 50%;
	height: 100%;
	flex-direction: column; 
}

.hero__date {
	text-transform: uppercase;
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 0.05em;
	line-height: 20px;
}

.hero__title {
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 40px;
	line-height: 50px;
}

.hero__subtitle {
	margin-bottom: 30px;
	font-size: 18px;
	line-height: 22px;
}


@media screen and (max-width: 1023px) {
	.hero {
		margin-bottom: 200px;
	}

	.hero__content {
		justify-content: center;
	}

	.hero__info {
		margin-left: 300px;
		width: auto;
	}

	.hero__title {
		font-size: 35px;
		width: 400px;
	}
}

@media screen and (max-width: 767px) {
	.hero__content {
		justify-content: center;
		margin: 0px;
	}

	.hero__info {
		margin-left: 0px;
	}

	.hero__date {
	line-height: 18px;
	}

	.hero__title {
		font-size: 24px;
		line-height: 30px;
	}

	.hero__subtitle {
	line-height: 17px;
	}
}

@media screen and (max-width: 440px) {
	.hero__content {
		display: block;
	}
}


@media screen and (max-width: 420px) {
	.hero__content {
		display: flex;
	}

	.hero__title {
		width: auto;
	}
}