.hero {
	height: 100vh;
}

.hero__content {
	position: relative;
	margin-top: 25px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	color: var(--white);
}

.hero__info {
	display: flex;
	width: 50%;
	height: 100%;
	flex-direction: column; 
}

.hero__date {
	text-transform: uppercase;
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 0.05em;
	line-height: 20px;
}

.hero__title {
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 40px;
	line-height: 50px;
}

.hero__subtitle {
	margin-bottom: 30px;
	font-size: 18px;
	line-height: 22px;
}


@media screen and (max-width: 1023px) {
	.hero__content {
		justify-content: center;
	}

	.hero__info {
		margin-left: 300px;
		width: auto;
	}

	.hero__title {
		font-size: 35px;
	}
}