.hero {
	padding: 44px 130px;
	height: 100vh;
}

.hero__content {
	margin-top: 100px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	color: var(--white);
}

.hero__info {
	display: flex;
	width: 50%;
	flex-direction: column; 
}

.hero__date {
	text-transform: uppercase;
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 0.05em;
	line-height: 20px;
	width: 418px;
	height: 21px;
}

.hero__title {
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 40px;
	line-height: 50px;
	width: 552px;
	height: 150px;
}

.hero__subtitle {
	margin-bottom: 30px;
	width: 418px;
	height: 21px;
	font-size: 18px;
	line-height: 22px;
}
