.photos {
	margin-bottom: 45px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.photos__content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.photos__img {
	width: calc(25% - 10px);
	margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
	.photos__img {
		width: calc(50% - 10px);
		margin-bottom: 20px;
	}
}