.price {
	padding-top: 80px;
	margin-bottom: 45px;
	background-image: url(../img/price-bg.png);
	background-repeat: no-repeat;
	background-position-x: 50%;
	position: relative;
}

.price__content {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.price__cards {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}