.reason {
	margin-bottom: 45px;
	background-image: url(../img/reason-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x: hidden;
}

.reason__content {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

.reason__cards {
	display: flex;
	justify-content: space-between;
	align-self: flex-end;
}

@media screen and (max-width: 1240px) {
	.reason {
			background-position: unset;
		}
}

@media screen and (max-width: 1023px) {
	.reason {
			overflow: unset;
		}
}

@media screen and (max-width: 767px) {
	.reason__cards {
		flex-direction: column;
		align-items: center;
	}
}