.result {
	height: 60vh;
	background-image: url(../img/result-bg.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position-y: 50px;
}

.result__content {
	display: flex;
	flex-direction: column;
}

.result__cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}