.result {
	background-image: url(../img/result-bg.png);
	/*background: radial-gradient(blue, blue, white);*/
	background-size: 1200px;
	background-repeat: no-repeat;
	padding: 60px 0px 130px;
	margin-bottom: 45px;
}

.result__content {
	display: flex;
	flex-direction: column;
}

.result__title {
	font-weight: bold;
	font-size: 35px;
	line-height: 44px;
	margin-bottom: 55px;
}

.result__cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

@media screen and (max-width: 1199px) {
	.result {
		background-size: calc(100% - 100px);
	}
}

@media screen and (max-width: 1023px) {
	.result {
		background-size: calc(100% + 170px);
		padding: 0px;
	}
}

@media screen and (max-width: 767px) {
	.result {
		background-size: cover;
	}
}
