.section {
	width: 100%;
	display: flex;
	align-items: center;
	margin-bottom: 45px;
}

.section__content {
	display: flex;
	justify-content: space-between;
}

.content {
	display: flex;
	width: 50%;
	flex-wrap: wrap;
}

.content.-left {
	align-items: center;
	justify-content: center;
}

.content.-right {
	justify-content: center;
	flex-wrap: wrap;
	justify-content: space-between;
}


@media screen and (max-width: 1023px) {
	.section {
		margin-bottom: 125px;
	}

	.section__content {
		flex-direction: column;align-items: center;
	}

	.section__title {
		margin-bottom: 25px;
	}

	.content {
		width: 100%;
	}
}

@media screen and (max-width: 767px) {
	.section__top {
		flex-direction: column;
		margin-bottom: 0px;
	}

	.section__bottom {
		flex-direction: column;
	}

	.content.-right {
		justify-content: center;
	}
}